@{
    ViewBag.Title = "Home";
}

<h1>Emissor de Ordem de Pagamento</h1>

<p class="lead">
    Para auxiliar seu trabalho!
</p>

<p class="lead">
    @Html.ActionLink("Começar a usar!", "Index", "Emissor", new { }, new { @class = "btn btn-lg btn-secondary fw-bold border-white bg-white" })
</p>